body {

    font-family: 'Ubuntu', sans-serif;
    

}


#title {
   
    background-color: #9BABB8;
    color: #fff;
   
}
    .container-fluid{
        padding: 5% 15% 7%;
    }


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;   
}
h3{

    font-family: 'Montserrat';
    font-size: 125%;

}

p{
  color: #8f8f8f; 
}


.navbar {

    padding-bottom: 4.5rem;
}



.navbar-brand {

    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-item {

    padding: 0 18px;
}

.nav-link {

    font-size: large;
}


.btn {

font-weight: bold;
    margin: 5% 3% 5% 0;

}

.title-image{

    width: 25%;
    transform: rotate(25deg);
position: absolute;
    
}

#features {

    padding: 7% 15%;
background-color: #fff;
position: relative;
z-index: 1;
}

.feature-box{

    text-align: center;
    padding: 4.5%;
}

.icon{

    color: #526D82;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #9DB2BF;
}



#testimonials{

padding: 1% 1%;
text-align: center;
background-color: #D7C0AE;
color: #fff;

}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 25px;
}

.carousel-item{
    padding: 5% 15%; 

}
#press{

    background-color: #D7C0AE;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 12%;
    margin: 20px 20px 50px;
}


#pricing{

    padding: 100px;
    text-align: center;

}
.pricing-column{

    padding: 3% 2%;
}

#cta {
    background-color: #9BABB8;
    color: #fff;
    padding: 7% 15%;
}

.cta-heading{

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
}

#footer{

    padding: 5% 10%;
    text-align: center;
}



@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);

    }
}